.item-container {
    border: 2px solid #000;
    max-width: 250px;
    max-height: 450px;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
}

.item-container p{
    font-weight: 500;
}

.item-container img {
    width: 160px;
    height: 275px;
}