.head-container{
background: rgb(255, 72, 72);
height: 75px;
display: block;
}

.navBar-container ul{
margin: 0;
padding: 0;
list-style: none;
padding-right: 20px;
}

.navBar-container ul li{
display: inline-block;
line-height: 72px;
}

.navBar-container a{
display: block;
padding: 0 10px;
text-decoration: none;
color: rgb(0, 0, 0);
font-weight: 640;
}

.logoimg-container{
float: left;
vertical-align: middle;
margin-right: 15px;
margin-left: 15px;
margin-top: 10px;
margin-bottom: 10px;
}